:root {
  --black: #000000;
  --white: #ffffff;
  --azul1: #97baff;
  --azul2: #e8f0ff;
  --azul-fundo: #e8f0ff;
  --fundoclaro: #f3f7ff;
  --cinzaclaro: #9c9c9c;
  --azulparagrafo: #192229;
  --rosa-button: #ee74e9;
  --rosa-hover: #a952a5;
  --cinza1: #545454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul,
li,
dd,
dt,
dd {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.5s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.button-whats {
  background-color: var(--rosa-button);
  border-radius: 8px;
  color: var(--white);
  font-size: 1.2rem;
  display: flex;
  width: 12rem;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button-whats:hover {
  background-color: var(--rosa-hover);
}

/* Box LGPD */
.wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper.show {
  right: 20px;
  z-index: 9999;
}
.wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
header i {
  color: var(--rosa-button);
  font-size: 32px;
}
header h2 {
  color: var(--rosa-button);
  font-weight: 500;
}

.wrapper .data {
  margin-top: 16px;
}
.wrapper .data p {
  color: #333;
  font-size: 16px;
}
.data p a {
  color: var(--rosa-button);
  text-decoration: none;
}
.data p a:hover {
  text-decoration: underline;
}
.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: var(--rosa-button);
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background-color: var(--rosa-hover);
}
#declineBtn {
  border: 2px solid var(--rosa-button);
  background-color: #fff;
  color: var(--rosa-hover);
}
#declineBtn:hover {
  background-color: var(--rosa-hover);
  color: #fff;
}

@media (max-width: 768px) {
  .button-whats {
    font-size: 0.9rem;
    width: 10rem;
    height: 48px;
    gap: 4px;
  }
}
